body{
    /* background-color: #0081b8 #083345; */
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Arial Narrow Bold', sans-serif;
}





#img-container{
    object-fit: cover;
    max-height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#head-pic {
    /* width: 100vw; */
    flex-shrink: 0;
    width: 100vw;
    height: auto;
 }



 

#title {
    color: black;
    font-size: 4rem;
    text-align: center;
    width: 100%;
}
#some-text {
    font-size: clamp(14px, 8vw, 32px);
    text-align: center;
    padding: 15px;
}


section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 100px;
}
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px;
    width: 1000px;
    height: 1000px;
}
#one, #two, #three, #four {
    /* width: 40vw; */
    /* height: 40vw; */
    display: grid;
    gap: 20px;
    color: black;
    font-weight: bold;
}
.whole {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background: lightgray;
    text-align: center;
    padding: 20px;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}
#two {
    grid-template-columns: 1fr;
}
#top {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background: lightgray;
    text-align: center;
    padding: 20px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}
#divider-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.small {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background: lightgray;
    text-align: center;
    padding: 20px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
#three{
    grid-template-columns: 1fr 1fr;
}
#divider-two{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
#right {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background: lightgray;
    text-align: center;
    padding: 20px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}
#one > div:nth-child(1){
    background: rgb(115, 184, 205);
}
#two > div:nth-child(1){
    background: rgb(193, 193, 193);
}
#divider-one > div:nth-child(1){
    background: lightslategrey;
}
#divider-one > div:nth-child(2){
    background: rgb(115, 184, 205);
}
#three > div:nth-child(2){
    background: lightslategray;
}
#divider-two > div:nth-child(1){
    background: rgb(193, 193, 193);
}
#divider-two > div:nth-child(2){
    background: rgb(115, 184, 205);
}
#four > div:nth-child(1){
    background: rgb(193, 193, 193);
}
@media only screen and (max-width: 900px){
    #grid{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 600px){
    #grid{
        grid-template-columns: 1fr;
    }
    #top {
        font-size: 18px;
    }
    .whole {
        font-size: 18px;
    }
    .small {
        font-size: 14px;
    }
    #right{
        font-size: 18px;
    }
}

@media only screen and (max-width: 925px){
    section{
        margin-bottom: 200px;
    }
}
@media only screen and (max-width: 875px){
    section{
        margin-bottom: 300px;
    }
}
@media only screen and (max-width: 750px){
    section{
        margin-bottom: 475px;
    }
}
@media only screen and (max-width: 500px){
    section{
        margin-bottom: 500px;
    }
}
@media only screen and (max-width: 400px){
    section{
        margin-bottom: 600px;
    }
}
@media only screen and (max-width: 325px){
    section{
        margin-bottom: 750px;
    }
}
@media only screen and (max-width: 300px){
    section{
        margin-bottom: 900px;
    }
}