body{
    background: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: black;
    font-family: 'Arial Narrow Bold', sans-serif;
}




video{
    width: 100vw;
    height: auto;
}
@media only screen and (max-width: 1200px){
    video{
        position: relative;
        top: 60px;
        margin-bottom: 100px;
    }
}


#desc{ 
    margin: 100px auto 10px auto;
    font-size: clamp(14px, 4vw, 32px);
    max-width: 1400px;
    height: auto;
    background-color: #083345;
    color: white;
    padding: 20px;
    background-image: linear-gradient(to top, rgba(8, 51, 69, 0.8), rgba(8, 51, 69, 0.8) ), url('man-2179326_1920.jpg');
    background-size: cover;
    background-position: center;
}
#desc ul{
    margin-left: 20px;
}
b{
    word-wrap: wrap;
}

#styles-title{
    font-size: 48px;
    text-align: center;
    color: black;
    margin: 50px 0px;
}
#styles{
    text-align: center;
    color: black;
    font-size: 24px;
    margin-bottom: 50px;
}



section{
    width: calc(100vw - 100px);
    /* height: auto; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
    position: relative;
}

video{
    width: 100vw !important;
    max-height: 100vh;
}

.card{
    width: 100vw;
    max-width: 20%;
    height: 400px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
}
.card #description{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 100%;
    height: 360px;
    top: 0px;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    padding: 20px;
    color: white;

    transform: translateY(calc(100% - 130px));
    transition: ease 1s;
}
.card h1{
    color: white;
    font-size: 32px;
    margin: 0px;
    text-align: center;
}
.card h3{
    font-size: 18px;
    text-align: center;
    margin: 0px;
}
.card #hr{
    width: 50%;
    content: "";
    border: solid 1px #0081b8;
    opacity: 0;
    transition: ease 1s;
}
.card p{
    opacity: 0;
    transition: ease 1s;
    transition-delay: 500ms;
}
.card a button{
    border: solid 3px #0081b8;
    border-radius: 15px;
    color: white;
    background-color: #0081b8;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}
@media only screen and (max-width: 1600px){
    .card {
        max-width: 30%;
    }
    .card:hover{
        transform: translateY(0)
    }
}
@media only screen and (max-width: 1150px){
    .card {
        max-width: 45%;
    }
    .card:hover{
        transform: translateY(0)
    }
}
@media only screen and (max-width: 800px){
    .card {
        max-width: 70%;
        height: 500px;
    }
    .card #description{
        height: 460px;

        transform: translateY(calc(100% - 175px));
    }
    section{
        padding: 10px;
        width: calc(100vw - 20px);
    }
    .card:hover{
        transform: translateY(0)
    }
}
@media only screen and (max-width: 400px){
    .card {
        max-width: 90%;
        height: 650px;
    }
    .card #description{
        height: 610px;
    }
    section{
        padding: 10px;  
        width: calc(100vw - 20px);
    }
    .card:hover{
        transform: translateY(0)
    }
}
.card #description:hover{
    transform: translateY(0)
}
.card:hover > #description{
    transform: translateY(0)
}
.card #description:hover > #hr{
    opacity: 1;
}
.card:hover > #description > #hr{
    opacity: 1;
}
.card #description:hover > p{
    opacity: 1;
}
.card:hover > #description > p{
    opacity: 1;
}
.card #description button:hover{
    transform: scale(1.1);
}


#other-card-container{
    background-color: #083345;
    width: 60vw;
    border-radius: 25px;
    /* overflow: hidden; */
    position: relative;
    padding: 0px 0px 0px 0px;
    height: auto;
}
#other-card-container #words{
    text-align: center;
    width: calc(100% - 20px);
    color: white;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 30px;
}
#other-card-container #words h1{
    width: calc(100% - 40px);
    z-index: 5;
    font-size: 32px;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0px;
    font-size: 48px;
}
#other-cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    /* bottom: -25%; */
    flex-wrap: wrap;
    margin-bottom: 0px;
}
.other-card{
    width: calc(15% + 20px);
    height: 320px;
    /* position: relative; */
    margin-bottom: 80px;
}
.other-card #other-card-inner-one,
.other-card #other-card-inner-two,
.other-card #other-card-inner-three,
.other-card #other-card-inner-four,
.other-card #other-card-inner-five,
.other-card #other-card-inner-six,
.other-card #other-card-inner-seven,
.other-card #other-card-inner-eight{
        position: relative;
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        transition: ease 1s;
}
.other-card #other-card-inner-one #front, .other-card #other-card-inner-one #back,
.other-card #other-card-inner-two #front, .other-card #other-card-inner-two #back,
.other-card #other-card-inner-three #front, .other-card #other-card-inner-three #back,
.other-card #other-card-inner-four #front, .other-card #other-card-inner-four #back,
.other-card #other-card-inner-five #front, .other-card #other-card-inner-five #back,
.other-card #other-card-inner-six #front, .other-card #other-card-inner-six #back,
.other-card #other-card-inner-seven #front, .other-card #other-card-inner-seven #back,
.other-card #other-card-inner-eight #front, .other-card #other-card-inner-eight #back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
        
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;

    color: rgb(22, 22, 22);
}
.other-card #other-card-inner-one #back,
.other-card #other-card-inner-two #back,
.other-card #other-card-inner-three #back,
.other-card #other-card-inner-four #back,
.other-card #other-card-inner-five #back,
.other-card #other-card-inner-six #back,
.other-card #other-card-inner-seven #back,
.other-card #other-card-inner-eight #back{
    transform: rotateY(180deg);
}
.other-card #other-card-inner-one #front button,
.other-card #other-card-inner-two #front button,
.other-card #other-card-inner-three #front button,
.other-card #other-card-inner-four #front button,
.other-card #other-card-inner-five #front button,
.other-card #other-card-inner-six #front button,
.other-card #other-card-inner-seven #front button,
.other-card #other-card-inner-eight #front button{
    border: solid 3px #0081b8;
    border-radius: 15px;
    color: white;
    background-color: #0081b8;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}
.other-card #other-card-inner-one #back button,
.other-card #other-card-inner-two #back button,
.other-card #other-card-inner-three #back button,
.other-card #other-card-inner-four #back button,
.other-card #other-card-inner-five #back button,
.other-card #other-card-inner-six #back button,
.other-card #other-card-inner-seven #back button,
.other-card #other-card-inner-eight #back button{
    border: solid 3px #0081b8;
    border-radius: 15px;
    color: white;
    background-color: #0081b8;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}
#other-card-container .other-card #other-card-inner-one #front img,
#other-card-container .other-card #other-card-inner-two #front img,
#other-card-container .other-card #other-card-inner-three #front img,
#other-card-container .other-card #other-card-inner-four #front img,
#other-card-container .other-card #other-card-inner-five #front img,
#other-card-container .other-card #other-card-inner-six #front img,
#other-card-container .other-card #other-card-inner-seven #front img,
#other-card-container .other-card #other-card-inner-eight #front img{
    /* position: relative; */
    width: 150px;
    height: 150px;
}
#other-card-container .other-card #other-card-inner-one h2,
#other-card-container .other-card #other-card-inner-two h2,
#other-card-container .other-card #other-card-inner-three h2,
#other-card-container .other-card #other-card-inner-four h2,
#other-card-container .other-card #other-card-inner-five h2,
#other-card-container .other-card #other-card-inner-six h2,
#other-card-container .other-card #other-card-inner-seven h2,
#other-card-container .other-card #other-card-inner-eight h2{
    text-align: center;
    margin: 0px;
}
#other-card-container .other-card #other-card-inner-one p,
#other-card-container .other-card #other-card-inner-two p,
#other-card-container .other-card #other-card-inner-three p,
#other-card-container .other-card #other-card-inner-four p,
#other-card-container .other-card #other-card-inner-five p,
#other-card-container .other-card #other-card-inner-six p,
#other-card-container .other-card #other-card-inner-seven p,
#other-card-container .other-card #other-card-inner-eight p{
    text-align: center;
    margin: 0px;
}
@media only screen and (max-width: 1500px){
    #other-card-container{
        width: 80vw;
        height: auto;
    }
}
@media only screen and (max-width: 1600px){
    .other-card{
        width: 20%;
        height: 280px;
    }
}
@media only screen and (max-width: 1000px){
    #other-card-container .other-card #other-card-inner-one #front img,
    #other-card-container .other-card #other-card-inner-two #front img,
    #other-card-container .other-card #other-card-inner-three #front img,
    #other-card-container .other-card #other-card-inner-four #front img,
    #other-card-container .other-card #other-card-inner-five #front img,
    #other-card-container .other-card #other-card-inner-six #front img,
    #other-card-container .other-card #other-card-inner-seven #front img,
    #other-card-container .other-card #other-card-inner-eight #front img{
        width: 120px;
        height: 120px;
    }
}
@media only screen and (max-width: 900px){
    .other-card{
        width: 40%;
        height: 280px;
    }
    #other-card-container .other-card #other-card-inner-one #front img,
    #other-card-container .other-card #other-card-inner-two #front img,
    #other-card-container .other-card #other-card-inner-three #front img,
    #other-card-container .other-card #other-card-inner-four #front img,
    #other-card-container .other-card #other-card-inner-five #front img,
    #other-card-container .other-card #other-card-inner-six #front img,
    #other-card-container .other-card #other-card-inner-seven #front img,
    #other-card-container .other-card #other-card-inner-eight #front img{
        width: 150px;
        height: 150px;
    }
}
@media only screen and (max-width: 650px){
    .other-card{
        width: 60%;
        height: 300px;
    }
}
@media only screen and (max-width: 400px){
    .other-card{
        width: 80%;
        height: 300px;
    }
}





